@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Kategori Ekleme Sayfası</h2>

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("Kategory Adı: ")
                    @Html.TextBoxFor(x=>x.CategoryName , new { @class="form-group"})
                    @Html.ValidationMessageFor(x=>x.CategoryName)
                    <br />
                    @Html.Label("Açıklamayı Yazınız")
                    @Html.TextAreaFor(x=>x.CategoryDescription, new { @class = "form-group" })
                    @Html.ValidationMessageFor(x=>x.CategoryDescription)
                    <button>Kaydet</button>
                </div>
            }
@*<form class="form-group" method="post">
    <input type="text" placeholder="Kategori Adi" name="CategoryName" />
    <input type="text" placeholder="Kategori Açıklaması" name="CategoryDescription"  />
    <input type="text" placeholder="Kategori Statüsü" name="CategoryStatus"  />
    <button class="btn btn-info">
        Ekle
    </button>*@
    @*<a href="/Home/Index" class="btn btn-info">Ana Sayfa</a>
</form>*@

